<screen context-state="contextState" blocks="blocks">
    <split-container name="splitContainer5">
        <split-panel1 >
            <grid-block name="officeDataGrid"/>
        </split-panel1>
        <split-panel2 >
            <tab-container name="orgTabs">
                <tab-item name="officeEquipment">
                    <grid-block name="officeEquipmentGridBlock"/>
                </tab-item>
                <tab-item name="employees">
                    <grid-block name="officeEmployees"/>
                </tab-item>
            </tab-container>
        </split-panel2>
    </split-container>
</screen>
